@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #1e3c72, #2a5298, #76b2fe, #b69efe);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures child elements, including textarea, are centered */
    justify-content: center;
    width: 420px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 420px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.container:hover {
    tr

